body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    overflow: hidden; /* Đảm bảo không có thanh cuộn dọc */
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.fixed-container {
    width: 25%; /* Chiếm 30% chiều rộng của màn hình */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto; /* Đảm bảo có thanh cuộn dọc nếu nội dung quá dài */
}

.scrollable-container {
    margin-left: 30%; /* Đảm bảo có khoảng cách đủ để hiển thị phần form */
    width: 70%; /* Chiếm phần còn lại chiều rộng của màn hình */
    height: 100vh;
    overflow-y: auto; /* Đảm bảo có thanh cuộn dọc */
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.notification-history {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

h1, h2 {
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 16px); /* Fix lỗi phần nội dung thừa */
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: calc(100% - 16px); /* Fix lỗi phần nội dung thừa */
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

.history-container {
    margin-top: 20px;
    text-align: left;
    padding: 10px 0;
    max-height: calc(100vh - 160px); /* Giới hạn chiều cao của lịch sử */
    overflow-y: auto; /* Đảm bảo có thanh cuộn dọc */
}

.history-item {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
